<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <header class="header">
      <span><%= userName %></span>
    </header>
    <h1>LT Home Page</h1>
    <h2>Código LTI stringificado como JSON:</h2>
    <code>
      <pre><%= stringifiedToken %></pre>
    </code>
  </body>
</html>
